{% extends 'base.html.twig' %}

{% block body %}

{% for value in product %}

<div class="card">
  <h5 class="card-header">{{ value.name }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ value.version }}</h5>
    <p class="card-text">{{ value.description }}</p>
    <a href="{{ path('product_details') }}?id={{  value.id}})" class="btn btn-primary">{{ 'LIST_PRODUCT.DETAILS'|trans }}</a>
  </div>
</div>	

{% endfor %}

{% endblock %}